<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_CRUD"
        tools:targetApi="31">
        <activity
            android:name=".partechat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".partechat.MensajeActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ProblemaActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.ListarClientesActivity"
            android:exported="false" />
        <activity
            android:name=".cliente.AgregarCliente"
            android:exported="false" />
        <activity
            android:name=".taller.EditarTallerActivity2"
            android:exported="false" />
        <activity
            android:name=".taller.ListarTalleresActivity2"
            android:exported="false" />
        <activity
            android:name=".ListarTalleres"
            android:exported="false" />
        <activity
            android:name=".taller.CrearTaller"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>